@page
@using Mindscape.Raygun4Net.AspNetCore2.Tests.Pages
@model Mindscape.Raygun4Net.AspNetCore2.Tests.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a href="/Boom">Cause error</a> <a href="/LibBoom">Cause error in Lib</a>
